/* Variables */

:root {
  --content-width: 880px;
}

/* Page Transitions */

body.fade-out {
  main {
    animation: pageOut 0.3s ease-in-out forwards;
  }
}

body:not(.fade-out) {
  main {
    animation: pageIn 0.5s ease-in-out;
  }
}

/* Page */

.scrollable {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  padding: var(--spacing-2) var(--spacing);
  max-width: var(--content-width);

  &:has(.spatium) {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;

    .spatium {
      width: 100%;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: inset var(--field-shadow);
  align-items: center;
}

/* Header */

.container>header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-05) var(--spacing-2);
  padding-bottom: 0;
  border-bottom: 2px solid color-mix(in srgb, currentColor, transparent 80%);
  width: 100%;

  .right {
    display: flex;
    align-items: center;

    .tokens {
      margin-right: var(--spacing);
    }
  }

  .left {
    display: flex;
    align-items: center;

    a.logo {
      display: flex;
      align-items: center;
      --color: var(--primary);

      img {
        scale: 1.15;
      }
    }
  }

  /* Remove bottom border if there is a banner */
  &:has(+ .banner) {
    border-bottom: none;
  }
}

/* Banner */

.banner {
  text-align: center;
  background-color: var(--accent);
  padding: 0.5rem;
  color: var(--on-accent);
  width: calc(100% - 8px * 2);
  margin: 2px 8px;
  border-radius: var(--radius);
  margin-right: var(--spacing);
  position: relative;

  a {
    color: var(--on-accent);
    text-decoration: underline;
  }

  button {
    padding: 0 var(--spacing);
    position: absolute;
    right: 1rem;
    scale: 1.5;
  }
}

/* Button to show banner after its been closed */
.banner-button {
  position: absolute;
  top: 63px;
  right: var(--spacing);
  float: right;
  padding: 0 var(--spacing);
  --color: var(--accent);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  border-radius: calc(var(--radius) * 4);
  aspect-ratio: 1 / 1;

  span {
    display: block;
  }
}

/* Animations */

@keyframes pageIn {
  from {
    scale: 0.95;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes pageOut {
  to {
    scale: 0.95;
    opacity: 0;
  }
}