/* Theme */

:root {
  --dark1: #000;
  --dark2: #222;
  --dark3: #333;
  --dark4: #555;
  --light1: #fff;
  --light2: #ddd;
  --light3: #aaa;
  --light4: #777;

  --accent: #7eb1f4;
  --on-accent: var(--dark1);

  --on-primary: #000;

  --radius: 4px;
  --radius-05: calc(var(--radius) * 0.5);
  --radius-2: calc(var(--radius) * 2);
  --border-color: var(--bg3);
  --border-width: 1px;
  --spacing: 10px;
  --spacing-05: calc(var(--spacing) * 0.5);
  --spacing-2: calc(var(--spacing) * 2);
  --transition: 0.2s ease-in-out;
  --field-shadow: 0 1px 4px #0002;

  --red: color-mix(in srgb, red, var(--fg1) 25%);

  --monospace:
    'Fira Code', 'JetBrains Mono', 'Source Code Pro', 'Hack', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Monoid',
    'Inconsolata', 'Courier New', monospace;
}

.theme-light {
  --bg1: var(--light1);
  --bg2: var(--light1);
  --bg3: var(--light2);
  --bg4: var(--light3);
  --fg1: var(--dark1);
  --fg2: var(--dark2);
  --fg3: var(--dark3);
  --fg4: var(--dark4);

  --accent: #3885ea;
  --on-accent: #fff;
}

.theme-dark {
  --bg1: var(--dark1);
  --bg2: var(--dark2);
  --bg3: var(--dark3);
  --bg4: var(--dark4);
  --fg1: var(--light1);
  --fg2: var(--light2);
  --fg3: var(--light3);
  --fg4: var(--light4);

  --field-shadow: none;
}

.theme-dark,
.theme-light {
  --red: color-mix(in srgb, red, var(--fg1) 25%);
}

/* General Styles */

* {
  touch-action: manipulation;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scrollbar-color: var(--accent) transparent;
  margin: 0;
  accent-color: var(--accent);
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  height: 100%;
  background: var(--bg1);
  color: var(--fg2);
  overscroll-behavior: none;
  line-height: 1.5;
  /* Improve text rendering mac */
  -webkit-font-smoothing: antialiased;
  /* IOS Remove gray highlight */
  -webkit-tap-highlight-color: transparent;
  /* IOS Disable touch callout */
  -webkit-touch-callout: none;
}

::selection {
  background-color: var(--accent);
  color: var(--on-accent);
}

:is(h1, h2, h3, h4, h5) {
  color: var(--fg1);
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing);
  text-wrap: balance;
}

h1:first-of-type {
  margin-top: 0;
}

:focus-visible {
  outline: 3px solid var(--accent);
}

p {
  margin: var(--spacing) 0;
  font: inherit;
}

/* Fields */

label:has(+ :is(button, input, select, textarea, .textarea-container)) {
  display: block;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing-05);
  color: var(--fg3);

  & + * {
    margin-bottom: var(--spacing);
    display: block;
  }
}

/* Checkbox and radio */
label:has(input[type='radio'], input[type='checkbox']) {
  display: block;
  margin: var(--spacing) 0;

  input {
    margin: 0.1em;
    margin-right: var(--spacing-05);
    font-size: 2em;
    scale: 1.4;
  }
}

form {
  /* So that content not cut off for field transitions */
  padding: var(--spacing-05);
}

/* divider */

hr {
  border: none;
  margin: var(--spacing-2) 0;
  background-color: var(--bg3);
  border-radius: var(--radius);
  height: 2px;
}

/* Transitions */

input,
select,
textarea {
  transition: background-color var(--transition);
}

button {
  transition: background-color var(--transition), box-shadow var(--transition);
}

a {
  transition: color var(--transition);
}

/* Buttons */

button {
  --color: var(--accent);
  background-color: var(--color);
  border-radius: var(--radius);
  border: none;
  padding: var(--spacing) var(--spacing-2);
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  color: var(--on-accent);
  box-shadow: var(--field-shadow);

  &:hover:not(:disabled) {
    background-color: color-mix(in srgb, var(--color), var(--on-accent) 15%);
    box-shadow: none;
  }

  &:active:not(:disabled) {
    background-color: color-mix(in srgb, var(--color), var(--on-accent) 15%);
    scale: 1.05;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  &:focus-visible {
    outline-offset: 2px;
    box-shadow: none;
  }
}

/* Inputs */

:is(
  input:not([type]),
  input:is(
    [type='text'],
    [type='password'],
    [type='email'],
    [type='number'],
    [type='url'],
    [type='tel'],
    [type='search'],
    [type='date'],
    [type='file'],
    [type='color']
  ),
  select,
  textarea
) {
  max-width: 100%;
  padding: var(--spacing) var(--spacing-2);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--radius);
  background-color: var(--bg2);
  font: inherit;
  box-shadow: var(--field-shadow);
  resize: none;
  color: var(--fg2);

  &:focus {
    color: var(--fg1);
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.6;
  }

  &:is(select) {
    font-weight: bold;
    color: var(--fg2);
    cursor: pointer;
  }
}

:is(input, button, select, a, .textarea-container) + :is(input, button, select, a, .textarea-container) {
  margin-left: var(--spacing);
}

:is(button, select) ~ a {
  padding: var(--spacing);
}

/* Disable text selection of fields */
:is(button, label, select, a) {
  user-select: none;
  -webkit-user-select: none;
}

/* Links */

a {
  --color: var(--accent);
  color: var(--color);
  text-decoration: none;
  font-weight: 600;
  border-radius: var(--radius-05);

  &:hover {
    /* text-decoration: underline; */
    color: color-mix(in srgb, var(--color), var(--fg1) 30%);
  }

  &:active {
    display: inline-block;
    scale: 1.05;
    color: color-mix(in srgb, var(--color), currentColor 20%);
  }
}

/* Error */

.error-message {
  color: var(--red);
  margin: var(--spacing) 0;
  animation: fadeIn 0.5s ease-in-out;
}

.message {
  margin: var(--spacing) 0;
  animation: fadeIn 0.5s ease-in-out;
}

/* Spacing when message adjacent */
:is(button, input, select) + :is(.message, .error-message) {
  margin-left: var(--spacing);
}

/* Tables */

table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--bg2);
  margin: 1em 0;
  border-spacing: 0;
}

th,
td {
  border: 2px solid var(--fg3);
  padding: var(--spacing);
}

th {
  background-color: var(--primary);
  color: var(--on-primary);
  border-color: var(--fg1);
  font-weight: bold;
}

td {
  background-color: var(--bg1);
  color: var(--fg2);
}

/* Images */

main img {
  display: block;
  max-width: 100%;
  border-radius: var(--radius-2);
  box-shadow: var(--field-shadow);
}

/* Loader */

.loader {
  display: inline-block;
  width: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary);
  mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
  transform-origin: 50% 40%;
  animation: spin 1s infinite linear;
}

/* Blockquote */

blockquote {
  padding-left: var(--spacing);
  margin: var(--spacing-2);
  font-style: italic;
  color: var(--fg3);
  position: relative;
  border-left: 5px solid var(--primary);
}

/* Code */

code {
  background-color: var(--bg2);
  padding: var(--spacing-2) var(--spacing);
  border-radius: var(--radius);
  font-family: var(--monospace);
  white-space: pre-wrap;
  overflow-x: auto;
  vertical-align: middle;
  font-size: 12px;
}

/* Code Block */

pre {
  background-color: var(--bg2);
  padding: var(--spacing);
  border-radius: var(--radius);
  font-family: var(--monospace);
  overflow-x: auto;
  white-space: pre-wrap;
  font-size: 12px;
}

/* Other */

[data-hide='true'] {
  display: none;
}

/* Animations */

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
